<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Конфигурация для вывода логов в консоль -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Конфигурация для вывода логов в файл -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/server.log</file> <!-- Путь к файлу логов -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>10MB</maxFileSize> <!-- Максимальный размер файла перед архивированием -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Настройка логера для отображения сообщений на консоль и в файл -->
    <logger name="org.example" level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </logger>

    <!-- Настройка корневого логера, убираем из него аппендеры -->
    <root level="INFO">
        <!-- Здесь можно добавить только один аппендер, например, для ошибок -->
    </root>

</configuration>
